:root {
  --blue: #1a80ff;
  --green: #00d179;
  --background: #f5f6fb;
  --grey-light: #e0e3ed;
  --grey-medium: #c3c9d9;
  --slate: #1b1e2a;
}

.api-docs ol,
.api-docs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.api-docs hr {
  opacity: 0.2;
  margin: 40px 0;
}

.api-docs pre {
  overflow: scroll;
}

.api-docs li {
  padding: 3px 0;
}

.api-docs a {
  color: inherit;
  text-decoration: inherit;
}

.api-docs .active {
  color: var(--blue);
}

.api-docs .left-panel {
  width: 280px;
}

.api-docs .right-panel {
  width: 100%;
}
