html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

pre {
  overflow: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-inline-start: 16px;
}

li {
  padding: 4px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: blue;
}

.active {
  color: blue;
}