@font-face {
  font-family: "DM-Sans";
  src: url(./assets/DMSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: "DM-Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
